@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 23.076923191547394% 94.90196108818054%; /* base */
    --foreground: 234 16.022099554538727% 35.49019694328308%; /* text */

    --muted: 223 15.909090638160706% 82.74509906768799%; /* surface0 */
    --muted-foreground: 233 12.796208262443542% 41.372549533843994%; /* subtext1 */

    --popover: 220 23.076923191547394% 94.90196108818054%; /* base */
    --popover-foreground: 234 16.022099554538727% 35.49019694328308%; /* text */

    --card: 220 23.076923191547394% 94.90196108818054%; /* base */
    --card-foreground: 234 16.022099554538727% 35.49019694328308%; /* text */

    --border: 225 13.55932205915451% 76.86274647712708%; /* surface1 */
    --input: 225 13.55932205915451% 76.86274647712708%; /* surface1 */

    --primary: 109 57.63546824455261% 39.803922176361084%; /* accent - Green */
    --primary-foreground: 220 23.076923191547394% 94.90196108818054%; /* base */

    --secondary: 223 15.909090638160706% 82.74509906768799%; /* surface0 */
    --secondary-foreground: 234 16.022099554538727% 35.49019694328308%; /* text */

    --accent: 223 15.909090638160706% 82.74509906768799%; /* surface0 */
    --accent-foreground: 234 16.022099554538727% 35.49019694328308%; /* text */

    --destructive: 347 86.66666746139526% 44.11764740943909%; /* red */
    --destructive-foreground: 220 21.95121943950653% 91.96078181266785%; /* mantle */

    --ring: 234 16.022099554538727% 35.49019694328308%; /* text */

    --radius: 0.5rem;

    --chart-1: 347 86.66666746139526% 44.11764740943909%; /* red */
    --chart-2: 183 73.86363744735718% 34.50980484485626%; /* teal */
    --chart-3: 220 91.4893627166748% 53.921568393707275%; /* blue */
    --chart-4: 35 76.98412537574768% 49.41176474094391%; /* yellow */
    --chart-5: 109 57.63546824455261% 39.803922176361084%; /* green */

    --crust: 220, 224, 232;
    --mantle: 230, 233, 239;
    --base: 239, 241, 245;
    --surface0: 204, 208, 218;
    --surface1: 188, 192, 204;
    --surface2: 172, 176, 190;
    --overlay0: 156, 160, 176;
    --overlay1: 140, 143, 161;
    --overlay2: 124, 127, 147;
    --subtext0: 108, 111, 133;
    --subtext1: 92, 95, 119;
    --text: 76, 79, 105;
    --lavender: 114, 135, 253;
    --blue: 30, 102, 245;
    --sapphire: 32, 159, 181;
    --sky: 4, 165, 229;
    --teal: 23, 146, 153;
    --green: 64, 160, 43;
    --greenHover: 166, 218, 149;
    --yellow: 223, 142, 29;
    --peach: 254, 100, 11;
    --maroon: 228, 69, 83;
    --red: 210, 15, 57;
    --mauve: 136, 57, 239;
    --pink: 234, 118, 203;
    --flamingo: 221, 120, 120;
    --rosewater: 220, 138, 120;

    --title: 0, 0, 0;

    /* fixed color */
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --github: 36, 41, 46;
    --google: 11, 87, 208;
    --gitlab: 226, 67, 42;
    --shadow: 0, 0, 0, 0.25;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 21.052631735801697% 14.901961386203766%; /* base */
    --foreground: 226 63.93442749977112% 88.03921341896057%; /* text */

    --muted: 237 16.239316761493683% 22.94117659330368%; /* surface0 */
    --muted-foreground: 227 35.29411852359772% 80.0000011920929%; /* subtext1 */

    --popover: 240 21.052631735801697% 14.901961386203766%; /* base */
    --popover-foreground: 226 63.93442749977112% 88.03921341896057%; /* text */

    --card: 240 21.052631735801697% 14.901961386203766%; /* base */
    --card-foreground: 226 63.93442749977112% 88.03921341896057%; /* text */

    --border: 234 13.20754736661911% 31.176471710205078%; /* surface1 */
    --input: 234 13.20754736661911% 31.176471710205078%; /* surface1 */

    --primary: 115 54.09836173057556% 76.07843279838562%; /* accent - Green */
    --primary-foreground: 240 21.052631735801697% 14.901961386203766%; /* base */

    --secondary: 237 16.239316761493683% 22.94117659330368%; /* surface0 */
    --secondary-foreground: 226 63.93442749977112% 88.03921341896057%; /* text */

    --accent: 237 16.239316761493683% 22.94117659330368%; /* surface0 */
    --accent-foreground: 226 63.93442749977112% 88.03921341896057%; /* text */

    --destructive: 343 81.25% 74.90196228027344%; /* red */
    --destructive-foreground: 240 21.311475336551666% 11.96078434586525%; /* mantle */

    --ring: 226 63.93442749977112% 88.03921341896057%; /* text */

    --radius: 0.5rem;

    --chart-1: 343 81.25% 74.90196228027344%; /* red */
    --chart-2: 170 57.35294222831726% 73.33333492279053%; /* teal */
    --chart-3: 217 91.86992049217224% 75.88235139846802%; /* blue */
    --chart-4: 41 86.04651093482971% 83.13725590705872%; /* yellow */
    --chart-5: 115 54.09836173057556% 76.07843279838562%; /* green */

    --crust: 17, 17, 27;
    --mantle: 24, 24, 37;
    --base: 30, 30, 46;
    --surface0: 49, 50, 68;
    --surface1: 69, 71, 90;
    --surface2: 88, 91, 112;
    --overlay0: 108, 112, 134;
    --overlay1: 127, 132, 156;
    --overlay2: 147, 153, 178;
    --subtext0: 166, 173, 200;
    --subtext1: 186, 194, 222;
    --text: 205, 214, 244;
    --lavender: 180, 190, 254;
    --blue: 137, 180, 250;
    --sapphire: 116, 199, 236;
    --sky: 137, 220, 235;
    --teal: 148, 226, 213;
    --green: 166, 227, 161;
    --yellow: 249, 226, 175;
    --peach: 250, 179, 135;
    --maroon: 235, 160, 172;
    --red: 243, 139, 168;
    --mauve: 203, 166, 247;
    --pink: 245, 194, 231;
    --flamingo: 242, 205, 205;
    --rosewater: 245, 224, 220;

    --title: 255, 255, 255;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: Arial, Helvetica;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.transition-ease-in-out {
  transition: all 50ms ease-in-out;
}